.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.filters {
  margin: 20px 0;
  h5 {
    text-align: center;
  }
}

.filters select, .filters input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.productList {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.productCard {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.productCard img {
  max-width: 100%;
  height: auto;
}

.productCard button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.productCard button:hover {
  background-color: #45a049;
}

.cart {
  margin-top: 20px;
}

.cart h3 {
  font-size: 1.5em;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  margin: 10px 0;
}

.cart button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.cart button:hover {
  background-color: darkred;
}
